extends layout

block gameHeader
  link(rel='stylesheet', href='/stylesheets/game_page.css')
  script(type='text/javascript', src='/javascripts/game.js')
block content
  p(
    id='room-id'
  )
  p(
    id='waiting'
  ) Wating on Another User
  div(
    class='row'
  )
    div(
      class="col s4 offset-s4 m3"
      id='score'
    )
    div(
      class='col s12 m9'
      id='game-container'
    )
      button(
      id='begin-button'
      type='button'
      ) START!
      p(
        id='timer'
      )
      div(
        id='game'
        class='row'
      )
        button(
          id='up'
          class='direction col s3 offset-s5'
        )
          img(
            src='/images/UpOFF.png'
          )
        button(
          id='left'
          class='direction col s3 offset-s2'
        )
          img(
            src='/images/UpOFF.png'
          )
        div(
          id='direction'
          class='direction col s3'
        )
        button(
            id='right'
            class='direction col s3'
        )
          img(
            src='/images/UpOFF.png'
          )
        button(
          id='down'
          class='direction col s3 offset-s5'
        )
          img(
          src='/images/UpOFF.png'
          )
