extends layout

block gameHeader
  script(type='text/javascript', src='/javascripts/game.js')
block content
  p(
    id='room-id'
  )
  div(
    id='waiting'
  )
    p() Wating on Another User
  div(
    id='begin'
  )
    button(
      id='begin-button'
      type='button'
    ) START!
  div(
    id='game'
  )
