extends layout

block mainHeader
  link(rel='stylesheet', href='/stylesheets/main_menu.css')
  script(type='text/javascript', src='/javascripts/main.js')
block content

  nav(
    class='nav row'
  )
    h2(
      id='title'
      class='col s4 offset-s4'
    ) Directional
    a(
      id='login'
      class='col s1 offset-s2'
      href='/login'
    )

  div(
    class='container row'
  )
    button(
      type='button'
      id='create-room'
      class='red darken-3 col s8 offset-s2 flow-text'
    ) Create Room
    button(
      type='button'
      id='join-button'
      class='blue darken-3 col s8 offset-s2 flow-text'
    ) Join Room

  div(
    id='join-room'
  )
    input(
      id='room-id'
      type='text'
      placeholder='Room Id'
    )
    button(
      id='join'
      type='submit'
    ) Join
