extends layout

block content

  div(
    id='button-container'
  )
    button(
      type='button'
      id='create-room'
    ) Create Room
    button(
      type='button'
      id='join-button'
    ) Join Room

  div(
    id='join-room'
  )
    input(
      id='room-id'
      type='text'
      placeholder='Room Id'
    )
    button(
      id='join'
      type='submit'
    ) Join
